.popular-services-container {
    padding: 1.25rem 3.75rem;
    background-color: rgba(255, 255, 255, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .62rem;
    box-shadow: 0 5px 1.25rem 5px #0000003e;

}

.popular-services-container>h2 {
    text-transform: uppercase;
    font-size: 1.62rem;
    font-weight: 600;
    margin: 0 0 1.25rem 0;

}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 1.25rem;
    width: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.card>img {
    height: 8.1rem;
    width: 8.1rem;
    border: 1px solid rgba(0, 0, 0, 0.326);
    border-radius: .62rem;
    margin-bottom: 5px;
}

@media only screen and (max-width: 770px) {
    .popular-services-container {
        margin: 0 1.25rem;
    }

    .card>img {
        height: 11rem;
        width: 11rem;
    }
}

@media only screen and (max-width: 560px) {
    .popular-services-container {
        margin: 2rem;
        border-radius: 0;
        box-shadow: 0 2px 20px 0 rgba(168, 168, 168, 0.32);
        /* background-color: rgba(240, 239, 239, 0.753); */
    }

    .popular-services-container>h2 {
        font-size: 1rem;
    }

    .card {
        font-size: .8rem;
        gap: .5rem;

    }

    .card>img {
        height: 11rem;
        width: 11rem;
        box-shadow: 0 2px 10px 0 rgba(97, 97, 97, 0.438);

    }
}

@media only screen and (max-width: 320px) {
    .popular-services-container{
        margin: 0;
    }
    .popular-services-container>h2{
        font-size: .7rem;
    }
    .card>img {
        height: 8rem;
        width: 8rem;
    }

    .card>p{
        font-size: .6rem;
    }
}