.popular-services-container{
    padding: 20px 54px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px #0000003e;

}

.popular-services-container>h2{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 20px 0;

}

.services{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.card{
    display: flex;
    flex-direction: column;
}

.card>img{
    height: 130px;
    width: 130px;
    border: 1px solid rgba(0, 0, 0, 0.326);
    border-radius: 10px;
}