@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Scada:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(42, 42, 42);
}


/* font-family: 'Montserrat',sans-serif;
font-family: 'Poppins',sans-serif;
font-family: 'Scada',
sans-serif; */