.search-bar {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    margin:0px 10px;
    padding: 10px 20px;    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style: none;

    font-size: small;    padding: 0;
    margin: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-option {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Highlight the selected option */
  .dropdown-option.active {
    background-color: #f0f0f0;
  }
  .dropdown-button:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
  }


  temp-span {
    height: inherit;
    width: inherit;
  }