.home{
    display: flex;
    position: relative;
    min-height: calc(100vh - 60px - 60px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow-y: auto;
    background-image: url('../../../public/images/background.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 36vh;
    background-size: 60rem;
    
}

